@use "../global/variables.scss" as *;
@use "../global/viewports.scss" as *;

.additional-card {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 25px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 16px;
  }
}

.additional-card__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 38px;
  }
}

.additional-card__link {
  text-decoration: none;
}

.additional-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: $special-modified-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.additional-card__characteristic {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 71px;
    min-width: 132px;
    text-align: left;
  }
}

.additional-card__price {
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $tablet-width) {
    min-width: 44px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
