@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.additional-products__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  @include reset-list;
}

.additional-products__present {
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}
