@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $contrast-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $main-color;
  border: none;
  cursor: pointer;

  &--additional {
    color: $additional-color;
    background-color: $contrast-color;

    @media (min-width: $tablet-width) {
      padding: 161px 55px 0;
      font-size: 20px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 160px 0 0;
    }
  }

  &--all {
    display: block;
    padding: 10px;
    color: $special-color;
    background-color: $basic-color;
  }

  &--buy {
    display: block;
    padding: 10px;
  }

  &--buy-additional {
    @media (min-width: $desktop-width) {
      width: 244px;
      padding-right: 26px;
      padding-left: 26px;
    }
  }
}
