@use "../global/variables.scss"  as *;

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $contrast-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $main-color;
  border: none;
  cursor: pointer;

  &--additional {
    padding-top: 59px;
    color: $additional-color;
    background-color: $contrast-color;
  }

  &--all {
    display: block;
    padding: 10px;
    color: $special-color;
    background-color: $basic-color;
  }

  &--buy {
    display: block;
    padding: 10px;
  }


}
