@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.contacts {
  /*padding: 26px 20px;*/

  &--additional {
    background-color: $contrast-color;
  }

  /*@media (min-width: $tablet-width) {
    padding: 60px 70px 56px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 80px;
    padding-left: 80px;
  }*/
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.contacts__cooperation {
  margin: 0;
  color: $additional-color;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $special-color;
  font-style: normal;
}

.contacts__address-text {
  margin: 0;
}

.contacts__map {
  height: 362px;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
