@use "../global/viewports.scss" as *;
@use "../global/variables.scss"  as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover .copyright__logo-text,
  &:focus .copyright__logo-text {
    opacity: 0.6;
  }

  &:active .copyright__logo-text {
    opacity: 0.3;
  }

  &:hover .copyright__logo-image,
  &:focus .copyright__logo-image {
    fill: $main-color;
  }

  &:active .copyright__logo-image {
    fill: rgba($main-color, 0.3);
  }
}

.copyright__logo-text {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
