@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.encourage {
  color: $contrast-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $main-text-color;
    text-align: left;
  }
}
