@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.function {
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 26px;
  }
}

.function__title {
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.function__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    counter-reset: function-counter;
  }
}

.function__item {
  position: relative;
  padding: 13px 0 13px 80px;
  min-height: 60px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-color;
  background-repeat: no-repeat;
  background-position: 0 10px;

  @media (min-width: $tablet-width) {
    background-position: 0 40px;
    padding: 151px 35px 57px 0;
    font-size: 16px;
    line-height: 24px;
    counter-increment: function-counter;

    &::before {
      font-family: "Oswald", "Arial", sans-serif;
      width: 136px;
      content: counter(function-counter);
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      color: $basic-color;
      right: 73px;
      top: 0;
      z-index: -1;

      @media (min-width: $desktop-width) {
        right: -4px;
      }
    }
  }

  &--leaf {
    background-image: url("../img/background/leaf.svg");

    @media (min-width: $tablet-width) {
      padding-right: 79px;
    }
  }

  &--water {
    background-image: url("../img/background/water.svg");

    @media (min-width: $tablet-width) {
      padding-right: 53px;
    }
  }

  &--fork {
    background-image: url("../img/background/fork.svg");

    @media (min-width: $tablet-width) {
      padding-right: 71px;
    }
  }

  &--clock {
    background-image: url("../img/background/clock.svg");
  }

  &--clock br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}
