@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.function {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 26px;
  }
}

.function__title {
  margin: 0;
  margin-bottom: 40px;
}

.function__list {
  @include reset-list;
}

.function__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-color;
}
