@use "../global/variables.scss" as *;
@use "../global/viewports.scss" as *;

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 256px;
}

.gallery__image {
  width: 50%;
  height: 100%;
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.gallery__button {
  position: absolute;
  content: "";
  left: calc(50% - 20px);
  top: calc(50% - 22px);
  width: 40px;
  height: 40px;
  background-color: $contrast-color;
  border-radius: 50%;
  border: 2px solid $gallery-range-color;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: $gallery-range-color;
    width: 8px;
    height: 18px;
    top: 10px;
    left: 8px;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: $gallery-range-color;
    width: 8px;
    height: 18px;
    top: 10px;
    right: 8px;
  }
}

.gallery__range-toggle {
  position: absolute;
  content: "";
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  background-color: $gallery-range-color;
  z-index: 2;

  &:hover {
    background-color: $main-color;

    .gallery__button::before,
    .gallery__button::after {
      background-color: $main-color;
    }

    .gallery__button {
      border-color: $main-color;
    }
  }

  &:active {
    background-color: rgba($gallery-pressed-color, 0.6);

    .gallery__button::before,
    .gallery__button::after {
      background-color: rgba($gallery-pressed-color, 0.6);
    }

    .gallery__button {
      border-color: rgba($gallery-pressed-color, 0.6);
    }
  }
}
