@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.information-form__text-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}

.information-form__text {
  margin: 0;
  margin-bottom: 39px;
  padding-right: 74px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding-right: 375px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 897px;
    padding-left: 0;
  }
}

.information-form__group-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto;
    margin-bottom: 69px;
    width: 1220px;
  }
}

.information-form__group {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: none;

  &--customer {
    margin-bottom: 28px;
    padding: 0 20px 24px;
    border-bottom: 1px solid $special-color7;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
      padding: 0 67px 0 71px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &--choice {
    margin-bottom: 26px;
    padding: 0 20px 24px;
    border-bottom: 1px solid $special-color7;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
      padding-right: 67px;
      padding-left: 71px;
      padding-bottom: 0;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &--owner {
    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }

  &--comment {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }

  &--additional {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }
  }
}

.information-form__title-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 3px);
    height: 2px;
    width: 100%;
    background-color: $main-color;
    z-index: -1;
  }

  &--owner {
    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        position: absolute;
        top: calc(25% + 4px);
        height: 2px;
        width: 100%;
        background-color: $main-color;
        z-index: -1;
      }
    }
  }
}

.information-form__title-inner-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}

.information-form__title {
  margin: 0;
  margin-bottom: 35px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 14px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  background-color: $contrast-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    margin-left: 30px;
    padding-left: 39px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 36px;
  }

  &--owner {
    @media (max-width: $mobile-width-only) {
      width: 187px;
    }
  }

  &--comment {
    margin-bottom: 38px;
    padding-right: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      padding-right: 38px;
    }
  }

  &--additional {
    margin-bottom: 39px;
    padding-right: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 62px;
      padding-right: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.information-form__list-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}

.information-form__list {
  @include reset-list;

  &--owner {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding-right: 65px;
      padding-left: 71px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;
      padding: 0;
    }
  }

  &--choice {
    @media (min-width: $tablet-width) {
      padding: 30px 28px;
      border: 1px solid $special-color5;
    }
  }

  &--additional {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding-right: 70px;
      padding-left: 70px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding: 0;
      width: 1220px;
    }
  }
}

.information-form__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &--program {
    color: $special-modified-color;

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (min-width: $tablet-width) {
        margin-bottom: 22px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 23px;
      }
    }
  }

  &--contacts {
    &:not(:last-child) {
      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  }

  &--additional {
    color: $main-text-color;

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }
}

.information-form__control {
  position: relative;
  display: block;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }

  &--program {
    padding-left: 45px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }
}

.information-form__control-mark {
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-color3;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &--program {
    border-radius: 50%;
  }
}

.information-form__value {
  &--radio:checked + .information-form__control-mark::before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-color: $main-color;
    border-radius: 50%;
    content: "";

    @media (min-width: $tablet-width) {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }

    &:disabled + .information-form__control-mark::before {
      background-color: rgba($main-color, 0.3);
    }
  }

  &:hover + .information-form__control-mark {
    border: 1px solid $special-color4;
  }

  &:disabled + .information-form__control-mark {
    border: 1px solid rgba($special-color3, 0.3);
  }

  &--checkbox:checked + .information-form__control-mark::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/background/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 14px;
    content: "";
  }
}

.information-form__description {
  margin-right: 12px;

  &--cat-name {
    @media (min-width: $desktop-width) {
      margin-right: 13px;
    }
  }

  &--weight {
    margin-right: 15px;

    @media (min-width: $desktop-width) {
      margin-right: 18px;
    }
  }

  &--age {
    margin-right: 15px;
  }

  &--email {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 18px;
    }
  }

  &--phone {
    margin-right: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }
  }
}

.information-form__field {
  position: relative;
  flex-grow: 1;
  width: 172px;
  height: 45px;
  box-sizing: border-box;
  padding: 13px 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-color;
  border: 1px solid $special-color5;
  /* stylelint-disable */
  -moz-appearance: textfield;
  /* stylelint-enable */

  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding: 10px 19px 12px;
  }

  &--cat-name {
    @media (min-width: $desktop-width) {
      padding-left: 21px;
    }
  }

  &--email {
    padding-right: 45px;
    padding-left: 15px;

    @media (min-width: $tablet-width) {
      padding-right: 60px;
      padding-bottom: 10px;
      padding-left: 21px;
    }
  }

  &--phone {
    padding-right: 45px;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      padding-right: 60px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-color;
    opacity: 1;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    outline: 1px solid $special-color3;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid $special-color;
  }

  &:focus + .information-form__icon {
    color: $main-color;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::-moz-outer-spin-button,
  &::-moz-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.information-form__icon {
  position: absolute;
  right: 14px;

  @media (min-width: $tablet-width) {
    right: 18px;
  }
}

.information-form__comment-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-right: 67px;
    padding-left: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.information-form__comment-field {
  flex-grow: 1;
  margin: 0;
  padding: 9px 12px 13px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-color;
  border: 1px solid $special-color5;

  @media (min-width: $tablet-width) {
    padding: 10px 19px 9px;
    min-height: 152px;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-color;
    opacity: 1;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    outline: 1px solid $special-color3;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid $special-color;
  }
}

.information-form__legend {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}

.information-form__button {
  display: block;
  margin-bottom: 21px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 13px 45px;
    font-size: 20px;
    line-height: 26px;
    box-sizing: border-box;
  }
}

.information-form__additional-container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 61px;
    padding-right: 71px;
    padding-left: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 1220px;
    column-gap: 81px;
  }
}
