@use "../global/viewports.scss" as *;

.main-navigation {
  position: relative;
  width: auto;
  min-height: 66px;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 66px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
