@use "../global/viewports.scss" as *;

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 53px;
    width: 1220px;
    font-size: 20px;
  }
}

.main-header__logo {
  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-picture {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.main-header__logo-picture-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
