@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.main-footer {
  background-color: $basic-color;
}

.main-footer__wrapper {
  margin: 0 auto;
  /*padding: 57px 20px 56px;*/
  padding-right: 20px;
  padding-left: 20px;
  /*width: 280px;*/

  @media (min-width: $tablet-width) {
    /*width: 708px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-right: 141px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 400px;
  }
}

.main-footer__copyright {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
