@use "../global/viewports.scss" as *;

.main-container__title {
  margin: 0;
  margin-bottom: 37px;

  &--catalog {
    margin-bottom: 41px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }
}
.main-container__cards {
  margin-bottom: 25px;
}
