@use "../global/variables.scss" as *;

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $main-text-color;
}
