@use "../global/variables.scss" as *;
@use "../global/viewports.scss" as *;

.product-card {
  padding: 19px 20px 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 161px 37px 39px 39px;
    background-color: $basic-color;
  }

  @media (min-width: $desktop-width) {
    padding: 161px 39px 40px 38px;
  }

  &--more {
    position: relative;
    display: block;
    text-align: center;
    background-color: $contrast-color;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 38px;
      border: 2px solid $basic-color;
    }

    @media (min-width: $desktop-width) {
      padding-right: 37px;
      padding-left: 37px;
      padding-bottom: 39px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 39px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $plus-color;

      @media (min-width: $tablet-width) {
        width: 60px;
        top: 82px;
      }

      @media (min-width: $desktop-width) {
        top: 81px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 30px;
      top: 25px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $plus-color;

      @media (min-width: $tablet-width) {
        height: 60px;
        top: 52px;
      }

      @media (min-width: $desktop-width) {
        top: 51px;
      }
    }
  }
}

.product-card__image-link {
  position: absolute;
  bottom: 76px;
  left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 305px;
  }

  @media (min-width: $desktop-width) {
    bottom: 315px;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product-card__info-wrapper {
  margin-bottom: 23px;
  padding-left: 140px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    padding: 0;
  }
}

.product-card__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding-right: 64px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-modified-color;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 9px;
    padding-left: 20px;
  }
}

.product-card__info-list {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.product-card__info-item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  color: $special-color;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid $special-color3;
    font-size: 16px;
  }
}

.product-card__value {
  margin: 0;
  text-align: right;
}

.product-card__more {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-color;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }
}

.product-card__button {
  &--more {
    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }
}
