@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.product-cards__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 143px;
  }

  @include reset-list;
}
