.program__header {
  margin-bottom: 20px;
}

.program__title {
  margin: 0;
  margin-bottom: 25px;
}

.program__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program__image {
  margin-bottom: 3px;
}

.program__search {
  font-size: 14px;
  line-height: 18px;
}

.program__list {
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.program__item:not(:last-child) {
  margin-bottom: 20px;
}
