@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;
@use "../global/variables.scss"  as *;

.program {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 302px;
    background-image:
      linear-gradient(rgba($main-color, 0.85), rgba($main-color, 0.85)),
      url("../img/background/cat-tongue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($main-color, 0.85), rgba($main-color, 0.85)), url("../img/background/cat-tongue@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

/*.program__wrapper {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}*/

.program__header {
  position: relative;
}

.program__header-wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.program__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.program__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 709px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    /*left: 37%;*/
    left: 478px;
    bottom: 108px;
    width: 552px;
  }
}

.program__search {
  display: block;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 14px 26px;
    font-size: 20px;
    /*line-height: 20px;*/
    line-height: 26px;
    /*min-height: 54px;*/
  }
}

.program__list {
  @include reset-list;
  margin: 0 auto;
}

/*.program__item {
  margin: 0 auto;
}*/

.program__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
