@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.program-type {
  position: relative;
  padding: 30px 28px 22px 20px;
  background-color: $basic-color;

  &--slim {
    background-image: url("../img/background/cat-sitting.svg");
    background-repeat: no-repeat;
    background-position: 22px 21px;

    @media (min-width: $tablet-width) {
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      background-position: 52px 41px;
    }
  }

  &--slim::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      right: 62px;
      top: 78px;
      width: 200px;
      height: 211px;
      content: "";
      background-image: url("../img/background/cat-sitting.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
    }
  }

  &--pro {
    background-image: url("../img/background/cat-walking.svg");
    background-repeat: no-repeat;
    background-position: 13px 24px;

    @media (min-width: $tablet-width) {
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      background-position: 33px 47px;
    }
  }

  &--pro::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      right: 30px;
      top: 89px;
      width: 268px;
      height: 200px;
      content: "";
      background-image: url("../img/background/cat-walking.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    padding: 77px 51px 59px 52px;
  }
}

.program-type__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.program-type__description {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.program-type__link {
  display: block;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover .program-type__arrow {
    transform: scaleX(1.4);
  }
}

.program-type__arrow {
  position: relative;
  left: 12px;
  bottom: 2px;
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;

  &--pro {
    left: 14px;
  }

  @media (min-width: $tablet-width) {
    left: 22px;
    bottom: 4px;
  }
}
