@use "../global/variables.scss"  as *;
@use "../global/viewports.scss" as *;

.program-type {
  width: 227px;
  padding: 30px 33px 22px 20px;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    padding: 77px 51px 59px 52px;
  }
}

.program-type__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-type__description {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-color;
}

.program-type__link {
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
