@use "../global/viewports.scss" as *;

.section-title {
  font-size: 36px;
  line-height: 40px;

  &--modified {
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
