@use "../global/viewports.scss" as *;

.section-wrapper {
  margin: 0 auto;
  /**width: 280px;*/
  padding: 27px 20px 0;

  @media (min-width: $tablet-width) {
    /*width: 708px;*/
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }

  &--program {
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-bottom: 526px;
    }
  }

  &--form {
    padding-bottom: 32px;
  }
}
