@use "../global/viewports.scss" as *;
@use "../global/variables.scss" as *;

.section-wrapper {
  /*margin: 0 auto;*/
  /**width: 280px;*/
  padding: 27px 20px 0;

  @media (min-width: $tablet-width) {

    padding-right: 30px;
    padding-left: 30px;
  }

  /*@media (min-width: $desktop-width) {
    width: 1220px;
  }*/

  &--index {
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }

  &--encourage {
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 62px;
      padding-bottom: 526px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 109px;
      padding-bottom: 240px;
    }
  }

  &--program {
    padding-top: 0;

    @media (min-width: $desktop-width) {
      padding-top: 27px;
    }
  }

  &--function {
    padding-top: 20px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 45px;
      padding-bottom: 47px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 27px;
      padding-bottom: 0;
    }
  }

  &--form {
    padding-bottom: 32px;
    padding-right: 0;
    padding-left: 0;

    @media (min-width: $tablet-width) {
      padding-top: 63px;
      padding-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 73px;
      padding-bottom: 82px;
    }
  }

  &--catalog {
    padding-right: 0;
    padding-left: 0;
  }
}
