$main-color: #68b738;
$basic-color: #f2f2f2;
$secondary-color: #eaeaea;
$contrast-color: #ffffff;
$main-text-color: #000000;
$special-color: #444444;
$special-color2: #e6e6e6;
$special-modified-color: #222222;
$additional-color: #111111;
